/**
 * Header styles
 */
.site-header {
	/* Background compat for WpKitElementor 2.0.0 */
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 1.875rem; /* 30/16 */
	padding-block-start: 1rem; /* 16/16 */
	padding-block-end: 1rem; /* 16/16 */
	position: relative;

	.header-inside {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		max-width: 60rem; /* 960/16 */
		justify-content: space-between;
		margin-inline-start: auto;
		margin-inline-end: auto;
	}
}

// Changed from .site-logo
.site-site-branding {
	h1,
	.site-description {
		margin: 0;
	}

	.site-title {
		font-size: 2.5rem; /* 40/16 */
		font-weight: 500;
	}
}
