/**
 * Header styles
 */
.site-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1.875rem; /* 30/16 */
	padding: 1.25rem 0; /* 20/16 */
}

// Changed from .site-logo
.site-site-branding {
	h1,
	.site-description {
		margin: 0;
	}

	.site-title {
		font-size: 2.5rem; /* 40/16 */
		font-weight: 500;
	}
}
