/**
 * Navigation styles
 */
.site-navigation {
	ul {
		display: flex;
		padding: 0;
		list-style: none;
	}
}

nav {
	&.site-navigation {
		text-align: center;

		a, span {
			padding: .3125rem .9375rem; /* 5/16 *//* 15/16 */
		}
	}
}

.site-logo a,
.site-navigation a,
.kit-theme-post .read-more a,
.kit-theme-post .post-title a {
	text-decoration: none;
}
