/**
 * Posts and pages style sticky post styles.
 */
.site-page {
	max-width: 960px;
	margin: 0 auto;
}

.kit-theme-post {
	margin-bottom: 3.125rem; /* 50/16 */

	img {
		max-width: 100%;
	}

	.post-title {
		margin: 0;
	}

	.post-categories {
		margin-bottom: 1.25rem; /* 20/16 */
	}

	.post-footer {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 1.25rem 0; /* 20/16 */
		border-bottom: 1px solid #e8e8e8;
	}

	.read-more {
		display: inline-block;
		padding: .3125rem .9375rem; /* 5/16 *//* 15/16 */
		border: 1px solid $blue;
		text-transform: capitalize;
	}

	.post-tags a {
		display: inline-block;
		margin-right: .625rem; /* 10/16 */
	}
}
