/**
 * Utility styles
 */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	width: 1px;
	overflow: hidden;
	position: absolute !important;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */

	&:focus {
		background-color: rgba(0, 0, 0, 0.8);
		clip: auto !important;
		color: #000;
		display: block;
		font-size: $font-size-base;
		height: auto;
		width: auto;
		top: 5px;
		left: 5px;
		line-height: normal;
		padding: 16px 24px 15px;
		text-decoration: none;
		z-index: 100000; /* Above WP toolbar. */
	}
}
