/**
 * Sections
 */
body {
	font-family: $font-family-base;
	font-size: $font-size-base;
	font-weight: $font-weight-base;
	line-height: $line-height-base;
	color: $body-color;
	background-color: $body-bg;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

// Typography
h1, h2, h3, h4, h5, h6 {
	margin-top: 0.5em;
	margin-bottom: 1rem;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.2;
	color: inherit;
}

h1 {
	font-size: $font-size-base * 2.5; /* 40/16 */
}

h2 {
	font-size: $font-size-base * 2; /* 32/16 */
}

h3 {
	font-size: $font-size-base * 1.75; /* 28/16 */
}

h4 {
	font-size: $font-size-base * 1.5; /* 24/16 */
}

h5 {
	font-size: $font-size-base * 1.25; /* 20/16 */
}

h6 {
	font-size: $font-size-base; /* 16/16 */
}

p {
	margin-block-start: 0;
	margin-bottom: $font-size-base * .9; /* 14/16 */
}

// Link
a {
	text-decoration-thickness: 1px;
	color: var(--global--link-color);

	&:hover, &:active {
		color: var(--global--link-hover-color);
	}

	&:not([href]):not([tabindex]),
	&:not([href]):not([tabindex]):hover,
	&:not([href]):not([tabindex]):focus {
		color: inherit;
		text-decoration: none;
	}
}

// Embedded content
img {
	height: auto;
	max-width: 100%;
}

figcaption {
	font-size: 16px;
	color: $body-color;
	line-height: 1.4;
	font-style: italic;
	font-weight: 400;
}

// Print
@media print {
	*, *:before, *:after {
		background: transparent !important;
		color: rgb(0, 0, 0);
		-webkit-box-shadow: none !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a {
		&:visited {
			text-decoration: underline;
		}

		&[href]:after {
			content: "(" attr(href) ")";
		}

		&[href^="#"]:after,
		&[href^="javascript"]:after {
			content: "";
		}
	}

	abbr[title] {
		content: "(" attr(title) ")";
	}

	pre {
		white-space: pre-wrap !important;
	}

	pre, blockquote {
		page-break-inside: avoid;
		border: 1px solid #cccccc;
	}

	thead {
		display: table-header-group;
	}

	tfoot {
		display: table-footer-group;
	}

	tr, img {
		page-break-inside: avoid;
	}

	p, h2, h3 {
		orphans: 3;
		widows: 3;
	}

	h2, h3 {
		page-break-inside: avoid;
	}
}
